@model IEnumerable<Vickuraa.Models.vessel>
<h1><span class="text-muted font-weight-light"><i class="page-header-icon ion-ios-shuffle"></i>Vessel List </span></h1>


<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Owner
            </th>
            <th>
                Vessel Name
            </th>
            <th>
                Vessel Registory No
            </th>
            <th>
                Available Weight
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.user.username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.vesselName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VesselRegNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.availWeight)
                </td>

                <td>
                    <a type="button" class="btn btn-primary btn-3d pull-left" href="~/vessels/EditVessel/@item.vesselID"><i class="fa fa-pencil"></i>Edit</a>
                    <a type="button" class="btn btn-success btn-3d pull-left" href="~/vessels/VesselDetail/@item.vesselID" style="margin:0 10px"><i class="fa fa-list"></i>Details</a>


                </td>
            </tr>
        }
    </tbody>
</table>
