
    <div class="row">

        <!-- Stats -->

     
     

        <div class="col-md-4">
            <div class="box bg-danger darken">
                <div class="box-cell p-x-3 p-y-1">
                    <div class="font-weight-semibold font-size-12">No.Of Packages</div>
                    <div class="font-weight-bold font-size-20">268</div>
                    <i class="box-bg-icon middle right font-size-52 ion-ios-box"></i>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="box bg-warning darken">
                <div class="box-cell p-x-3 p-y-1">
                    <div class="font-weight-semibold font-size-12">Delivery Income (July)</div>
                    <div class="font-weight-bold font-size-20">MVR 4,000</div>
                    <i class="box-bg-icon middle right font-size-52 ion-ios-cart"></i>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="box bg-success darken">
                <div class="box-cell p-x-3 p-y-1">
                    <div class="font-weight-semibold font-size-12">No.Of Vessels</div>
                    <div class="font-weight-bold font-size-20"><small class="font-weight-light"></small>5</div>
                    <i class="box-bg-icon middle right font-size-52 ion-arrow-graph-up-right"></i>
                </div>
            </div>
        </div>
    </div>
        <br/>
        <div class="row">
            <div class="col-md-4">

                <!-- Uploads -->

                <div class="panel box">
                    <div class="box-row">
                        <div class="box-cell col-md-4 p-a-3 valign-top">
                            <h4 class="m-y-1 font-weight-normal"><i class="fa fa-user text-primary"></i>&nbsp;&nbsp;S.Hithadhoo</h4>
                            <ul class="list-group m-x-0 m-t-3 m-b-0">
                                <li class="list-group-item p-x-1 b-x-0 b-t-0">
                                    <span class="label label-primary pull-right">25</span>
                                    Pre-booked Packages
                                </li>
                                <li class="list-group-item p-x-1 b-x-0">
                                    <span class="label label-danger pull-right">14</span>
                                    Packages Delivered
                                </li>
                                <li class="list-group-item p-x-1 b-x-0 b-b-0">
                                    <span class="label label-info pull-right">12</span>
                                    Packages Pending
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>



            </div>

            <div class="col-md-4">

                <!-- Uploads -->

                <div class="panel box">
                    <div class="box-row">
                        <div class="box-cell col-md-4 p-a-3 valign-top">
                            <h4 class="m-y-1 font-weight-normal"><i class="fa fa-cloud-upload text-primary"></i>&nbsp;&nbsp;B.Eydhafushi</h4>
                            <ul class="list-group m-x-0 m-t-3 m-b-0">
                                <li class="list-group-item p-x-1 b-x-0 b-t-0">
                                    <span class="label label-primary pull-right">10</span>
                                    Pre-booked Packages
                                </li>
                                <li class="list-group-item p-x-1 b-x-0">
                                    <span class="label label-danger pull-right">5</span>
                                    Packages Delivered

                                </li>
                                <li class="list-group-item p-x-1 b-x-0 b-b-0">
                                    <span class="label label-info pull-right">9</span>
                                    Packages Pending

                                </li>
                            </ul>
                        </div>

                    </div>
                </div>



            </div>
            <div class="col-md-4">

                <!-- Stats -->

                <div class="box bg-danger darken">
                    <div class="box-cell p-x-3 p-y-1">
                        <div class="font-weight-semibold font-size-12">Total Income (2019)</div>
                        <div class="font-weight-bold font-size-20">MVR 14,000</div>
                        <i class="box-bg-icon middle right font-size-52 ion-ios-analytics"></i>
                    </div>
                </div>
                <br />
                <br />
                @*<div class="box bg-danger darken">
                    <div class="box-cell p-x-3 p-y-1">
                        <div class="font-weight-semibold font-size-12">Packages</div>
                        <div class="font-weight-bold font-size-20">1,268</div>
                        <i class="box-bg-icon middle right font-size-52 ion-ios-box"></i>
                    </div>
                </div>*@



            </div>
        </div>